<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HospitalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PatientServlet</servlet-name>
    <servlet-class>com.hosptalProject.servlets.PatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/patients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Administration</servlet-name>
    <servlet-class>com.hosptalProject.servlets.Administration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditerVisite</servlet-name>
    <servlet-class>com.hosptalProject.servlets.EditerVisite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditerVisite</servlet-name>
    <url-pattern>/editerVisite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VisiteMedical</servlet-name>
    <servlet-class>com.hosptalProject.servlets.VisiteMedical</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisiteMedical</servlet-name>
    <url-pattern>/visiteMedical</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Pathologie</servlet-name>
    <servlet-class>com.hosptalProject.servlets.Pathologie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pathologie</servlet-name>
    <url-pattern>/pathologie</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Consultation</servlet-name>
    <servlet-class>com.hosptalProject.servlets.Consultation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consultation</servlet-name>
    <url-pattern>/consultation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.hosptalProject.servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.hosptalProject.servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>